n8n/Load_addictive_to_Vector_Database.json
{
  "name": "GafasAddictive Drive -> Milvus (page_chunks + products)",
  "nodes": [
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "*json",
        "returnAll": true,
        "filter": {
          "includeTrashed": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -176,
        224
      ],
      "id": "48f816b1-4931-47c6-8a72-3e07d29c2371",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ipqxkUWqJic67BFi",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -416,
        224
      ],
      "id": "df918fdf-dc0d-4df3-afc2-ad39002098db",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        320,
        0
      ],
      "id": "12a8bbd3-23d0-4c30-8111-0bc78e8c1b5c",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ipqxkUWqJic67BFi",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "encoding": "utf8"
        }
      },
      "id": "b0de48de-a879-45d6-b96a-e2b328aa7dfd",
      "name": "Binary to JSON1",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [
        448,
        192
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        32,
        224
      ],
      "id": "fa37b2b4-444d-40bf-aad5-242cbc3a9d89",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "// Input: item.json (the page JSON)\nconst page = $input.first().json;\n\nconst ogArray = page.metadata?.openGraph || [];\nconst og = {};\nfor (const entry of ogArray) {\n  if (!entry?.property) continue;\n  // keep first occurrence\n  if (!og[entry.property]) og[entry.property] = entry.content || null;\n}\n\nconst jsonLd = page.metadata?.jsonLd || [];\nconst graph = Array.isArray(jsonLd) ? jsonLd.flatMap(j => j[\"@graph\"] || []) : [];\n\nconst product = graph.find(g => g[\"@type\"] === \"Product\");\nconst breadcrumbs = graph\n  .filter(g => g[\"@type\"] === \"BreadcrumbList\")\n  .flatMap(g => g.itemListElement || [])\n  .map(b => ({\n    name: b?.item?.name || null,\n    url: b?.item?.[\"@id\"] || null,\n    position: b?.position || null\n  }))\n  .filter(b => b.name && b.url);\n\nlet pageType = \"page\";\nconst url = page.url || \"\";\nconst linkHeader = page.metadata?.headers?.link || \"\";\nif (url === \"https://gafasaddictive.com/\" || url === \"https://gafasaddictive.com\") {\n  pageType = \"home\";\n} else if (product || og[\"og:type\"] === \"product\") {\n  pageType = \"product\";\n} else if (linkHeader.includes(\"product_cat\")) {\n  pageType = \"category\";\n} else if (linkHeader.includes(\"wp/v2/pages\")) {\n  pageType = \"page\";\n}\n\nconst title = page.metadata?.title || og[\"og:title\"] || null;\nconst description =\n  page.metadata?.description ||\n  og[\"og:description\"] ||\n  product?.description ||\n  null;\n\nconst categoryPath = breadcrumbs.map(b => b.name).join(\" > \") || null;\n\nreturn [{\n  json: {\n    url,\n    canonical_url: page.metadata?.canonicalUrl || url,\n    title,\n    description,\n    language: page.metadata?.languageCode || null,\n    page_type: pageType,\n    breadcrumbs,\n    category_path: categoryPath,\n    text_body: page.text || \"\",\n    og,\n    product_jsonld: product || null\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        192
      ],
      "id": "4dfa7aae-23cc-49fe-a36c-a7bf1d4fa5e7",
      "name": "Normalize + classify"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst docText = [\n  data.title ? `Title: ${data.title}` : \"\",\n  data.description ? `Description: ${data.description}` : \"\",\n  data.category_path ? `Category: ${data.category_path}` : \"\",\n  data.text_body ? `Body: ${data.text_body}` : \"\"\n].filter(Boolean).join(\"\\n\\n\");\n\n// naive chunk by chars (replace with tokenizer if you prefer)\nconst chunkSize = 1800; // ~300-600 tokens depending on language\nconst chunks = [];\nfor (let i = 0; i < docText.length; i += chunkSize) {\n  chunks.push(docText.slice(i, i + chunkSize));\n}\n\nreturn chunks.map((text, idx) => ({\n  json: {\n    pageContent: text,\n    metadata: {\n      url: data.url,\n      page_type: data.page_type,\n      title: data.title,\n      language: data.language,\n      category_path: data.category_path,\n      breadcrumbs: data.breadcrumbs,\n      chunk_index: idx\n    }\n  }\n}));\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        -48
      ],
      "id": "122dba56-24f7-42c1-b0f8-5ab9287ec449",
      "name": "Chunk page text"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst p = data.product_jsonld;\n\nif (!p) {\n  // no output if not a product\n  return [];\n}\n\nconst offer = Array.isArray(p.offers) ? p.offers[0] : null;\nconst priceSpec = offer?.priceSpecification?.[0] || {};\n\nconst productText = [\n  p.name ? `Product: ${p.name}` : \"\",\n  p.description ? `Description: ${p.description}` : \"\",\n  p.sku ? `SKU: ${p.sku}` : \"\",\n  priceSpec.price ? `Price: ${priceSpec.price} ${priceSpec.priceCurrency || \"\"}` : \"\",\n  data.category_path ? `Category: ${data.category_path}` : \"\"\n].filter(Boolean).join(\"\\n\\n\");\n\nreturn [{\n  json: {\n    pageContent: productText,\n    metadata: {\n      url: data.url,\n      product_name: p.name,\n      sku: String(p.sku || \"\"),\n      price: priceSpec.price ? parseFloat(priceSpec.price) : null,\n      currency: priceSpec.priceCurrency || null,\n      availability: offer?.availability || null,\n      category_path: data.category_path,\n      image_url: p.image || null,\n      rating: p.aggregateRating?.ratingValue ? parseFloat(p.aggregateRating.ratingValue) : null,\n      review_count: p.aggregateRating?.reviewCount ? parseInt(p.aggregateRating.reviewCount, 10) : null\n    }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        416
      ],
      "id": "18b78e57-6a2a-4628-bf5b-6cebda964b66",
      "name": "Build product record"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1008,
        128
      ],
      "id": "9d58866b-ff8c-4e25-a005-31ac8c7594c5",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "jk2tMKMrN3sjNQks",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "metadata",
                "value": "={{ $json.metadata }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1168,
        128
      ],
      "id": "c8ebec65-3e70-45cf-8ecf-410de9e63dd7",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1040,
        576
      ],
      "id": "1c157847-4960-4e96-9535-f79c01e1bbd7",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "jk2tMKMrN3sjNQks",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "milvusCollection": {
          "__rl": true,
          "value": "page_chunks",
          "mode": "list",
          "cachedResultName": "page_chunks"
        },
        "embeddingBatchSize": 25,
        "options": {
          "clearCollection": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreMilvus",
      "typeVersion": 1.3,
      "position": [
        1024,
        -48
      ],
      "id": "1f32f4e7-df13-4978-82c7-0d4b8159e083",
      "name": "Milvus Vector Store - page chunks",
      "credentials": {
        "milvusApi": {
          "id": "eD5Jd5dwgjaWZWjl",
          "name": "Milvus account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "milvusCollection": {
          "__rl": true,
          "value": "products",
          "mode": "list",
          "cachedResultName": "products"
        },
        "embeddingBatchSize": 25,
        "options": {
          "clearCollection": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreMilvus",
      "typeVersion": 1.3,
      "position": [
        1040,
        384
      ],
      "id": "31e69ed3-7e4b-4d39-b6dd-18b4f6425098",
      "name": "Milvus Vector Store - products",
      "credentials": {
        "milvusApi": {
          "id": "eD5Jd5dwgjaWZWjl",
          "name": "Milvus account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1568,
        240
      ],
      "id": "81105ede-2fc5-4ed1-a195-8c2fb365e68b",
      "name": "Merge"
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "metadata",
                "value": "={{ $json.metadata }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1216,
        560
      ],
      "id": "f1e01a7f-8061-4826-8876-e2ff2411b737",
      "name": "Default Data Loader2"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Binary to JSON1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Binary to JSON1": {
      "main": [
        [
          {
            "node": "Normalize + classify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize + classify": {
      "main": [
        [
          {
            "node": "Chunk page text",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build product record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chunk page text": {
      "main": [
        [
          {
            "node": "Milvus Vector Store - page chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build product record": {
      "main": [
        [
          {
            "node": "Milvus Vector Store - products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Milvus Vector Store - page chunks",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Milvus Vector Store - page chunks",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Milvus Vector Store - products",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Milvus Vector Store - page chunks": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Milvus Vector Store - products": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader2": {
      "ai_document": [
        [
          {
            "node": "Milvus Vector Store - products",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "eda2a3b2-5b8e-4031-9e9f-b325a53c4ac0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ecd8d3de9f59e2be89b94e08df5bf5d6a50460a3fa5423ef7b53a6a6762ad211"
  },
  "id": "ZmERlJUxwdMOsXvG",
  "tags": []
}